* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --square-width: calc(70vw/7);
    --margin: calc(30vw/7/2);
}
html {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}
span{
    margin: 10px var(--margin) 10px var(--margin);
    border-radius: 5px;
    display: inline-block;
    width: var(--square-width);
    min-width: fit-content;
    height: var(--square-width);
    padding: 7px;
    border: 3px solid white;
    line-height: var(--square-width);
    text-align: center;
    vertical-align: middle;
}
main {
    text-align: center;
    text-wrap: wrap;
}
nav {
    height: 10vh;
    background-color: rgba(0, 0, 0,0.7);
    line-height: 10vh;
    text-align: center;
    vertical-align: middle;
}

.butt {
    padding: 5px;
    margin-inline: 2%;
}

@media screen and (max-width:282px) {
    .butt {
        padding: 5px;
        margin-inline: 0px;
        font-size: 5vw;
    }
}
